M25digitkey.txt
.*.swp
scripts-in-exec-dir-sorted*
__pycache__/
archive/
getscripts2.py
older/
stat
stat.pdf
sys
archive/
diversion/
get_scripts-old.py
get_scripts.py
get_scripts_in_usr_bin.py
perl_and_python_scripts_in_usr_bin.txt
s.sh
s2.sh
scripts-in-usr-bin-sorted.txt
